article {
	font-size:10pt;
}

h1 {
	color: #ff0000;
	font-size: 18pt;
}

.subhead {
	color:#0000ff;
	font-size: 12pt;
}

.list {
	background-color:#aaaaaa;
	margin-left:45px;
	margin-top:0;
}

#bottom_paragraph {
	margin-bottom: 0;
}
