body {
	margin: 0;
	padding: 0;
}

article {
	font-size: 10pt;
}

.subhead {
	font-size: 12pt;
}

.row {
	display:-webkit-flex;
	display: flex;	/* 2つ以上のパネルの子要素の高さを揃える rowを基準とする */
}

.column {
	display:-webkit-flex;
	display: flex;	/* 2つ以上のパネルの子要素の高さを揃える rowを基準とする*/
}
